<div class = "new">
  <p id="notice"><%= notice %></p>
  <h1><%=@current_question.text%></h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  <%= %>
    <tbody>
    <% bool_1 = 0 %>
    <% bool_2 = 0 %>
      <% @current_survey_responses.each do |response| %>
        <tr>
          <% if @current_question.kind == 0 %>
            <td><%=  "#{response.text}"  %></td>
          <% end %>
          <% if @current_question.kind == 1 %>
            <% if response.bool == 'A' %>
              <% bool_1=bool_1+1 %>
            <%else%>
              <%bool_2=bool_2+1 %>
            <%end%>

          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @current_question.kind == 1 %>
  <h2><%= @current_question.boolean_option_1+" "+bool_1.to_s %></h2>
  <h2><%= @current_question.boolean_option_2+" "+bool_2.to_s %></h2>
  <%end%>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', survey_path(@current_survey) %>
</div>
