<div class = "new">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Survey Name:</strong>
    <%= @survey.name %>
  </p>
  <p>
	  <strong>Demographic Information:</strong>
	  <br>Gender: <%= @demo_gender%></br>
	  <br>Age range: <%= @demo_min_age%> - <%= @demo_max_age%></br>
	  <br>Nationality: <%= @demo_nationality%></br>
    <br>Education: <%= @demo_education%></br>
  </p>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @current_questions.each do |question| %>
        <tr>
          <td><%= link_to "#{question.text}" , question %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



  <% if researcher_signed_in?  %>
  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Back', project_path(@current_project) %> |
  <%= link_to('Logout', destroy_researcher_session_path, :method => :delete) %>
  <%end%>

  <% if subject_signed_in? %>
  <%= link_to 'Respond', "/surveys/#{@survey.id}/survey_respond" %> ||
  <%= link_to 'Back', "/subjects" %>
  <br>
  <%= link_to('Logout', destroy_subject_session_path, :method => :delete) %>
  <%end%>

</div>
